---
layout: default
---

<main class="main-block">
  <div class="row">
    <div class="col-12">
      <h1>{{ site.author.name | default: site.title }}</h1>
      <p class="lead">
        {{ site.author.bio | default: site.description }}
      </p>
      {% if site.author.links %}
      <nav class="main-links">
        {% for link in site.author.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>
      {% endif %}
      <div class="main-contact">
        Связаться: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
    </div>
  </div>
</main>

{{ content }}

{% if site.projects.size > 0 %}
<section class="section" style="margin-top: 0px;" id="projects">
  {% include projects-grid.html show_filter="false" limit=2 %}
  {% if site.projects.size > 2 %}
  <a href="/projects/" class="view-more">Смотреть все проекты →</a>
  {% endif %}
</section>
{% endif %}

{% if site.posts.size > 0 %}
<section class="section" id="blog">
  <h4 class="section-title">Веду заметки</h2>
  {% for post in site.posts limit: 5 %}
  <div class="post-item">
    <h3 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    {% if post.lead %}
    <div class="post-lead">{{ post.lead | markdownify }}</div>
    {% endif %}
    
    <div class="post-tags">
      {% assign now_sec = site.time | date: '%s' %}
      {% assign post_sec = post.date | date: '%s' %}
      {% assign diff_sec = now_sec | minus: post_sec %}
      {% assign diff_days = diff_sec | divided_by: 86400 %}
      
      {% if diff_days == 0 %}
        <time datetime="{{ post.date | date_to_xmlschema }}">сегодня</time>
      {% elsif diff_days < 30 %}
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ diff_days }} дн</time>
      {% elsif diff_days < 365 %}
        {% assign diff_months = diff_days | divided_by: 30 %}
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ diff_months }} мес</time>
      {% else %}
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y' }}</time>
      {% endif %}
      
      {% for tag in post.tags %}
        <a href="{{ tag }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  {% if site.posts.size > 5 %}
  <a href="/blog/" class="view-more">Все записи →</a>
  {% endif %}
</section>
{% endif %}
